<div class="container">
  <div class="p-5 text-center">
    <div class="d-inline-block bg-success text-white p-1 h5 rounded mb-4" role="alert">
      <h5 class="m-1">
        <i class="fas fa-rocket"></i> Congratulations, <strong>Demo</strong> is
        successfully running!
      </h5>
    </div>
    <h1>{{ '::Welcome' | abpLocalization }}</h1>

    <p class="lead px-lg-5 mx-lg-5">{{ '::LongWelcomeMessage' | abpLocalization }}</p>

    <a *ngIf="!hasLoggedIn" (click)="login()" class="px-4 btn btn-primary ms-1" role="button"
    ><i class="fa fa-sign-in"></i> {{ 'AbpAccount::Login' | abpLocalization }}</a
    >
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <mat-card>
          <mat-card-header class="w-100">
            <mat-card-title-group class="w-100">
              <mat-card-title class="abp-card-title"
                >{{ '::Menu:Books' | abpLocalization }}</mat-card-title
              >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <table
              mat-table
              [dataSource]="deals.items"
              class="w-100"
              matSort
              (matSortChange)="changeSort($event)"
            >
              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
              <ng-container matColumnDef="Customer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'::Name' | abpLocalization}}
                </th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>
              <ng-container matColumnDef="Phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Phone Number
                </th>
                <td mat-cell *matCellDef="let element">{{element.phoneNumber}}</td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Email
                </th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
              </ng-container>  
              <ng-container matColumnDef="DealerShip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  DealerShip
                </th>
                <td mat-cell *matCellDef="let element">{{element.dealId}}</td>
              </ng-container>
              <ng-container matColumnDef="Lot">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Lot #
                </th>
                <td mat-cell *matCellDef="let element">{{element.lotNumber}}</td>
              </ng-container>
              <ng-container matColumnDef="HName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Home Name
                </th>
                <td mat-cell *matCellDef="let element">{{element.houseName}}</td>
              </ng-container>
              <ng-container matColumnDef="BSize">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Box Size
                </th>
                <td mat-cell *matCellDef="let element">{{element.boxSize}}</td>
              </ng-container>
              <ng-container matColumnDef="WZone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Wind Zone
                </th>
                <td mat-cell *matCellDef="let element">{{element.windZone}}</td>
              </ng-container>
              <ng-container matColumnDef="Attachments">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Attachments
                </th>
                <td mat-cell *matCellDef="let element">{{element.attachment}}</td>
              </ng-container>
              <ng-container matColumnDef="HStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Home Status
                </th>
                <td mat-cell *matCellDef="let element">{{element.homeStatusId}}</td>
              </ng-container>
              <ng-container matColumnDef="LotStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Lot Status
                </th>
                <td mat-cell *matCellDef="let element">{{element.lotStatusId}}</td>
              </ng-container>
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  Start
                </td>
              </ng-container>
            </table>
            <mat-paginator
              [length]="deals.totalCount"
              [pageSize]="list.maxResultCount"
              (page)="changePage($event)"
            ></mat-paginator>
          </mat-card-content>
        </mat-card>
        <mat-menu #menu="matMenu">
          <ng-template matMenuContent let-id="id">
            <button mat-menu-item (click)="editBook(id)">
              Edit
            </button>
            <button mat-menu-item (click)="deleteBook(id)">
              Delete
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </div>
  </div>
</div><style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>
