.demo-table {
  width: 30%;
  margin-bottom: 30px;
}

.mat-column-demo-name {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-value {
  padding-left: 16px;
  font-size: 16px;
}

.form-control {
  margin-bottom: 20px;
}
