<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" #ngForm="ngForm">
    <form-validation-messages
      *ngIf="ngForm.submitted && form.status === 'INVALID'"
      messageType="error"
      message="Fill all required fields"
    ></form-validation-messages>
    <div class="form-group" *ngFor="let field of listSchema">
      <label for="schema-{{ field.id }}">{{ field.title }}</label
      ><span *ngIf="field.isRequired"> * </span>
      <div [ngSwitch]="field.type">
        <mat-form-field *ngSwitchCase="'string'" class="w-100">
          <input matInput type="text" id="schema-{{ field.id }}" [formControlName]="field.id" />
        </mat-form-field>

        <input
          *ngSwitchCase="'textarea'"
          type="textarea"
          id="schema-{{ field.id }}"
          class="form-control"
          [formControlName]="field.id"
        />

        <mat-form-field appearance="fill" *ngSwitchCase="'dropdown'" class="w-100">
          <mat-label>{{ field.label }}</mat-label>
          <mat-select id="schema-{{ field.id }}" [formControlName]="field.id" [(value)]="field.default">
            <mat-option mdInput *ngFor="let opt of field.options" [value]="opt.value">
              {{ opt.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <input
          *ngSwitchCase="'file'"
          id="schema-{{ field.id }}"
          class="form-control"
          [formControlName]="field.id"
          class="form-control"
          type="file"
          (change)="onChange($event)"
        />

        <div *ngSwitchCase="'houseSpec'">
          <table mat-table [dataSource]="field.data" class="mat-elevation-z8 demo-table">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Spec</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Value</th>
              <td mat-cell *matCellDef="let element">{{ element.value }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <div *ngSwitchCase="'maps'">
          <form-map (getLatAndLong)="getLatAndLng($event)"></form-map>

          <label for="schema-{{ field.id }}">Latitude/Longitude</label>
          <input
            type="text"
            id="schema-{{ field.id }}"
            class="form-control"
            [formControlName]="field.id"
            [value]="latLong"
          />
        </div>
      </div>
    </div>
    <button mat-button mat-dialog-close>{{ '::Close' | abpLocalization }}</button>
    <button mat-raised-button color="primary" (click)="getFormValue()">
      {{ '::Save' | abpLocalization }}
    </button>
  </form>
</mat-dialog-content>
